<div id="row-2col" class="hidden grid grid-cols-2 gap-8 m-10">  
    <div id="bar-chart-box" class="hidden bg-white rounded-xl p-6 w-full h-96">
        <h3 id="titlechart" class="text-xl font-bold mb-4 bg-gradient-to-r from-black to-purple-600 bg-clip-text text-transparent">title</h3>
        <canvas id="bar-chart-canvas"></canvas>
        <br>
         <!-- <div class="bg-black rounded-xl shadow-xl p-6 h-30"></div> -->
    </div>
    <div id="bar-chart-box2" class="hidden bg-white rounded-xl p-6 h-96" >
        <h3 id="titlechart2" class="text-xl font-bold text-gray-800 mb-4">title2</h3>
        <canvas id="bar-chart-canvas2"></canvas>
         <!-- <div class="bg-black rounded-xl shadow-xl p-6 h-30"></div> -->
    </div>  
</div>


<div id="row-1col" class="hidden grid grid-cols-1 gap-8 m-10">  

    <div id="bar-chart-box3" class="hidden bg-white rounded-xl p-6 h-96" >
        <h3 id="titlechart3" class="text-xl font-bold text-gray-800 mb-4">title3</h3>
        <canvas id="bar-chart-canvas3"></canvas>
         <!-- <div class="bg-black rounded-xl shadow-xl p-6 h-30"></div> -->
    </div>  

    <div id="bar-chart-box4" class="hidden bg-white rounded-xl p-6 h-96" >
        <h3 id="titlechart4" class="text-xl font-bold text-gray-800 mb-4">title4</h3>
        <canvas id="bar-chart-canvas4"></canvas>
         <!-- <div class="bg-black rounded-xl shadow-xl p-6 h-30"></div> -->
    </div>  

    <div id="bar-chart-box5" class="hidden bg-white rounded-xl p-6 h-96" >
        <h3 id="titlechart5" class="text-xl font-bold text-gray-800 mb-4">title5</h3>
        <canvas id="bar-chart-canvas5"></canvas>
         <!-- <div class="bg-black rounded-xl shadow-xl p-6 h-30"></div> -->
    </div>  

    <div id="pie-charts-container" class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4"></div>

    <div id="line-chart-box" class="hidden bg-white rounded-xl p-6 w-full h-96">
        <div class="flex gap-4 text-xl font-bold text-gray-800 mb-4">
            <h3 id="titleline" class="">titleline</h3>
            <select id="mode" class="">
                <option value="day">Daily</option>
                <option value="week">Weekly</option>
                <option value="Month">Monthly</option>
            </select>
            <!-- <span id="status"></span> -->
        </div>
        <canvas id="line-chart-canvas"></canvas>
    </div>
</div>
